@import '../../css/sass/global.scss';

.forget-password {
    background-color: $black;

    .forget-form {
        background-color: $white;
        border-radius: 16px;
        padding: 20px;
    }

    h2 {
        margin-bottom: 20px;
    }
}