@import '../../css/sass/global.scss';

.forget-password {
    background-color: $black;

    h2 {
        margin-bottom: 20px;

        @include mediaQuery(tabletLarge-view) {
            margin-bottom: 40px;
        }
    }

    p {
        margin-bottom: 30px;
        font-weight: 500;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    form {
        margin-bottom: 20px;
    }

    .form-block {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }
}