@import '../../../../css/sass/global.scss';

.user-details {
    color: $dark-blue;

    .details-wrap {
        display: flex;
    }

    .details-block {
        width: 100%;

        ul {
            padding: 0;
            margin: 0;
        }
    }

    .details-primary {
        padding: 20px 10px 0;
        background-color: $white;
        border-bottom: 2px solid $light-border;

        @include mediaQuery(tablet-view) {
            padding: 20px 20px 0px
        }
    }

    .head-primary {
        margin-bottom: 20px;
        gap: 10px;

        @include mediaQuery(tablet-view) {
            margin: 0
        }
    }

    .details-secondary {
        h2 {
            @include fontsize(18px);
            margin-bottom: 12px;
        }

        .general-card {
            background-color: $white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 1px 4px $shadow-color;
        }

        .primary-block {
            margin-bottom: 25px;
        }
    
        .form-block {
            margin-bottom: 20px;
    
            @include mediaQuery(tablet-view) {
                margin-bottom: 40px;
            }
        }

        .form-check {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .form-check-input {
            width: 30px;
            height: 30px;
        }

        .form-label {
            margin-bottom: 15px;
        }
    }

    .heading-wrap {
        margin-bottom: 30px;

        .btn {
            padding: 8px 17px;
        }
    }

    .btn-prev {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        background-color: $dark-blue;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            background-color: $dark-blue;
        }
    }

    .icon-anlagen {
        display: inline-block;
        width: 28px;
        height: 28px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .heading {
        width: 100%;
    }

    h2 {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        @include fontsize(14px);

        @include mediaQuery(tablet-view) {
            @include fontsize(24px);
        }
    }

    .icon-head {
        width: 28px;
        height: 28px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .icon-back {
        width: 22px;
        height: 22px;
    }

    .btn-tab {
        padding: 19px 24px;
        color: $dark-blue;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 100%;
        position: relative;

        &:active {
            border: transparent;
        }

        &.active {
            border: transparent;
            &::after {
                content: "";
                width: 100%;
                height: 5px;
                background-color: $dark-blue;
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 5px;
            }
        }
    }
}