@import '../../../../css/sass/global.scss';

.livedaten {
    padding: 20px;
    text-align: center;

    span {
        display: block;
    }
    
    h2 {
        justify-content: center;
        margin-bottom: 0 !important;
        border-bottom: 2px solid $light-border;
        border-radius: 10px 10px 0px 0px;
        padding: 17px;
        background-color: $light-white;
    }

    .btn-string {
        padding: 19px;
        color: $dark-blue;
        position: relative;

        &.active {
            border: transparent;
            
            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 5px;
                background-color: $dark-blue;
                border-radius: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .gateway-card {
        padding: 0px 20px 20px 20px;
        border-radius: 0px 0px 10px 10px;
        background-color: $white;
    }

    .kw-outer {
        border-radius: 50%;
        border: 10px solid $dashboard-bg;
        width: 163px;
        height: 161px;
        margin: 0 auto 17px;
    }

    .kw-inner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid $light-green;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .number {
        @include fontsize(39px);
        font-weight: 700;
    }

    .kilo-watt {
        @include fontsize(29px);
    }

    .energy {
        color: $light-green;
        @include fontsize(18px);
    }

    .performance {
        @include fontsize(20px);
    }

    .general-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}