@import '../../css/sass/global.scss';

.form-wrap {
    a {
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 20px;
    }

    form {
        margin-bottom: 20px;
    }

    .form-check {
        margin-bottom: 20px;
    }
}