$black: #000000;
$white: #ffffff;
$light-white: #f8fbfd;
$dark-blue: #233977;
$navy-blue: #162961;
$light-blue: #6EABDE;
$border-color: #D6D6D6;
$light-grey: #92949C;
$dashboard-bg: #F1F7FC;
$shadow-color: #C0D0DE80;
$yellow-color: #FF9F1C;
$danger-color: #DC493A;
$dropdown-shadow: #00000029;
$light-border: #6EABDE40;
$light-green: #58BC82;
$danger: #DC493A;