@import '../../css/sass/global.scss';

.form-wrap {
    a {
        margin-bottom: 30px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    h2 {
        margin-bottom: 30px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 60px;
        }
    }

    p {
        margin-bottom: 30px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .form-block {
        margin-bottom: 30px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .btn-primary {
        width: 100%;
    }
}