@import '../../css/sass/global.scss';

.sidebar {
    background-color: $white;
    box-shadow: 0px 1px 4px $shadow-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    min-height: calc(100vh - 58px);

    ul {
        padding: 0;
        margin: 0;
    }

    .btn-nav {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 72px 15px 20px;
        border-radius: 0;
        background-color: $white;
        color: $dark-blue;
        border-color: $white;
        width: 100%;
        position: relative;

        &:hover {
            color: $dark-blue;
        }

        &:active {
            background-color: $dashboard-bg;
            border-color: transparent;
        }

        &.active {
            background-color: $dashboard-bg;
            border-color: $dashboard-bg;

            &::before {
                content: '';
                width: 4px;
                height: 100%;
                background-color: $dark-blue;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
            }
        }
    }

    .icons {
        display: inline-block;
        width: 28px;
        height: 28px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .icon-profile {
        filter: brightness(0) saturate(100%) invert(17%) sepia(16%) saturate(7138%) hue-rotate(209deg) 
        brightness(93%) contrast(89%);
    }

    .icon-plus {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 10px;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .facility {
        margin: 0px 20px;
        padding: 13px 10px;
        
        @include mediaQuery(tablet-view) {
            width: 100%;
        }
    }
}