@import '../../../../css/sass/global.scss';

.informationen {
    padding: 20px;

    h2 {
        @include fontsize(18px);
        margin-bottom: 12px;
    }

    .primary-block {
        margin-bottom: 25px;
    }

    .general-card {
        background-color: $white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 25px;
    }

    .form-block {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .sub-card {
        border-radius: 5px;
        border: 1px solid $border-color;
        padding: 13px;
    }

    .btn.btn-trash {
        background-color: $dashboard-bg;
        padding: 0;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-trash {
        width: 16px;
        height: 16px;

        svg {
            display: block;
        }
    }
}