@import '../../css/sass/global.scss';

.dashboard-table {
    .form-block.block {
        width: 381px;
        
        .form-control {
            width: 100%;
            border-radius: 26px;
            padding: 10px 24px;
            
            &::placeholder {
                color: $dark-blue;
            }
        }
    }

    .filter-wrap {
        margin-bottom: 50px;
    }
    
    .icon-search {
        width: 18px;
        height: 18px;
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: auto;
    
        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .icon-synch {
        display: inline-block;
        width: 48px;
        height: 48px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .icon-plus {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: auto;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .icon-filter {
        display: inline-block;
        width: 18px;
        height: 17px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .form-select {
        border: 0;
        border-bottom: 1px solid $border-color;
        background-color: transparent;
        border-radius: 0;
        color: $dark-blue;
        padding: 5px 10px 5px 25px;

        &:focus {
            box-shadow: none;
        }
    }

    .btn-primary {
        width: 36px;
        height: 36px;
        display: flex;
        padding: 0;
    }

    .btn-details {
        padding: 0;
        color: $dark-blue;
        @include fontsize(12px);
        font-weight: 700;
    }

    .icon-sort {
        display: inline-block;
        width: 13px;
        height: 13px;

        svg {
            display: block;
            width: 100%;
            height: 100%;
            color: $dark-blue;
        }
    }

    .table-wrap {
        width: 100%;

        th {
            color: $black;
            font-weight: 700;
            @include fontsize(12px);
            padding: 0px 6px;
        }

        td:not(.empty-td) {
            @include fontsize(12px);
            background-color: $white;
            padding: 20px 6px;

            &:first-child {
                border-radius: 10px 0px 0px 10px;
            }

            &:last-child {
                border-radius: 0px 10px 10px 0px;
            }
        }
    }

    tbody {
        tr:not(.empty-tr) {
            box-shadow: 0px 1px 4px $shadow-color;
        }
    }

    .icon-repair {
        display: inline-block;
        width: 35px;
        height: 35px;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .error {
        td {
            border-top: 1px solid $danger-color;
            border-bottom: 1px solid $danger-color;

            &:first-child {
                border-left: 1px solid $danger-color;
            }

            &:last-child {
                border-right: 1px solid $danger-color;
            }
        }
    }

    .warning {
        td {
            border-top: 1px solid $yellow-color;
            border-bottom: 1px solid $yellow-color;

            &:first-child {
                border-left: 1px solid $yellow-color;
            }

            &:last-child {
                border-right: 1px solid $yellow-color;
            }
        }
    }
}