@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import 'variable';
@import 'mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-bg {
  background: $black;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}