@import '../../css/sass/global.scss';

.form-wrap {
    h2 {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    form {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .form-check {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 30px;
        }
    }

    .btn-primary {
        width: 100%;
    }
}