@import '../../css/sass/global.scss';

.form-wrap {
    .back-btn {
        display: inline-block;
        margin-bottom: 20px;


        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }

        @include mediaQuery(tabletLarge-view) {
            margin-bottom: 60px;
        }
    }

    a {
        text-decoration: none;
        gap: 5px;
        padding: 10px 20px;
        border-radius: 19px;

        &:hover {
            background-color: $dashboard-bg;
        }
    }

    h2 {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    form {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .form-check {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 30px;
        }
    }

    .btn-primary {
        width: 100%;
    }
}