@import '../../css/sass/global.scss';

.form-wrap.register-form {
    @include mediaQuery(tablet-view) {
        max-width: 100%;
    }

    @include mediaQuery(tabletLarge-view) {
        max-width: 824px;
    }

    a {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    h2 {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    h3 {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .form-block {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .form-check{
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }

        a {
            margin: 0;
        }
    }
}

.form-bg.register {
    padding: 70px 10px;
}