@import '../../css/sass/global.scss';

.modal-content {
    padding: 20px 20px 80px;
    background-color: $white;
    border-radius: 12px;
    color: $dark-blue;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
  
    @include mediaQuery(tablet-view) {
      max-width: 480px;
      width: 100%;
      margin: 0 auto;
    }

    .modal-body {
        padding: 0px 52px;
    }
  
    .modal-header {
      padding: 0;
      margin-bottom: 40px;
    }

    .icon {
        margin-bottom: 40px;
    }

    h2 {
        margin-bottom: 20px;
        @include fontsize(24px);

        @include mediaQuery(tabletLarge-view) {
            margin-bottom: 40px;
        }
    }

    p {
        margin-bottom: 20px;
        font-weight: 500;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    form {
        margin-bottom: 20px;
    }

    .form-block {
        margin-bottom: 20px;

        @include mediaQuery(tablet-view) {
            margin-bottom: 40px;
        }
    }

    .btn-primary {
        width: 100%;
    }

    .icon-warning {
        width: 24px;
        height: 21px;
    }

    .icon-question {
        background-color: $dashboard-bg;
        border-radius: 12px;
        padding: 14px 18px;
        margin-bottom: 40px;
    }

    .description {
        text-align: left;
        margin-bottom: 24px;

        .report-head {
            display: block;
            margin-bottom: 12px;
        }

        .report-description {
            margin: 0;
        }
    }
}